registry=https://mjsprojects.pkgs.visualstudio.com/_packaging/mjs-ui-control-react/npm/registry/
always-auth=true

; begin auth token
//mjsprojects.pkgs.visualstudio.com/_packaging/mjs-ui-control-react/npm/registry/:username=mjsprojects
//mjsprojects.pkgs.visualstudio.com/_packaging/mjs-ui-control-react/npm/registry/:_password=YTJ3cjNuZ3B3anFrbG1nZXludTVxcm0yM3BvZnBuaXZiZ3BpNndrMmRjd3VzaW5kc3hwYQ==
//mjsprojects.pkgs.visualstudio.com/_packaging/mjs-ui-control-react/npm/registry/:email=npm requires email to be set but doesn't use the value
//mjsprojects.pkgs.visualstudio.com/_packaging/mjs-ui-control-react/npm/:username=mjsprojects
//mjsprojects.pkgs.visualstudio.com/_packaging/mjs-ui-control-react/npm/:_password=YTJ3cjNuZ3B3anFrbG1nZXludTVxcm0yM3BvZnBuaXZiZ3BpNndrMmRjd3VzaW5kc3hwYQ==
//mjsprojects.pkgs.visualstudio.com/_packaging/mjs-ui-control-react/npm/:email=npm requires email to be set but doesn't use the value
; end auth token