<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> hi hi</h1>
    <p>Welcome to <%= title %> there</p>
  </body>
</html>
